body{
    background-color:#d5e3d3;
}
h2{
    background-color: #8b998a;
    line-height: 2;
    margin-top: -10;
    font-family: cursive;
}
#note{
    font-size: 20px;
}
.bottom{
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: white;
    line-height: 3;
    color: gray;
    width: 1440px;
}
h3{
    font-family: cursive;
}